/* Specifically for the login page */
* {
  font-family: 'Tangerine', serif;
  /* font-size: 48px; */
  text-shadow: 4px 4px 4px #aaa;
}

.hide {
  visibility: hidden;
  display: none;
}

.show {
  visibility: visible;
  display: block;
}

.profile {
  width: 10%;
  height: 100%;
  float: right;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-divider2 {
  flex-shrink: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

#hero {
  width: 100%;
  padding: 0 0 0 0;
  background: #213b52;
  background: linear-gradient(180deg, #213b52 0%, #213c54 35%, #204564 100%);
}

#hero .heading1 {
  margin: 0 0 15px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #d2e0ed;
  font-family: "Poppins", sans-serif;
}

#hero .heading2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 22px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.section-bg {
  margin-top: 70px;
  background: linear-gradient(180deg, #e3ebf2 0%, #fff 100%);
}

.secondh1 {
  margin-top: 400px;
  color: blue;
}

.secondSection {
  height: 100vh;
  width: 100vw;
  background-image: url("https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?t=st=1656271303~exp=1656271903~hmac=2d6cfdd7edfab8c60edbcc493b78a30e0a6fc61cd47e169328887b4f49e1ddfa&w=900");
  background-repeat: no-repeat;
  background-size: cover;
}

/* __________________________________________________ */
.login {
  width: 500px;
  height: 500px;
  margin: auto;
}
/* __________________________________________________ */

.cap {
  height: 100%;
  width: 100%;
}

.secondSection h2,
.secondSection h3,
.secondSection p {
  text-align: center;
}

.secondSection p {
  margin-bottom: 100px;
}

.Carousel {
  margin-top: 50px;
}

.box {
  display: flex;
}

@media only screen and (max-width: 600px) {
  #hero .heading1 {
    background-color: rgb(32, 144, 41);
  }
}
